body{
    background:#D6D7DA;
    position:relative;
    overflow:hidden;
}
.container{
    border-radius: 40px;
    background:#fff;
    display: flex;
    max-width:90%;
    margin:3rem auto;
    font-family: 'Nunito', sans-serif;
}
.sidebar{
    padding:1.5rem 3rem;
    flex:1;
}
.main{
    padding:1.5rem 3rem;
    width:70%;
    background:#F6F6F8;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.input-group{
    width:100%;
    display: flex;
}
#search-weather{
    font-size:1rem;
    font-family: 'Nunito', sans-serif;
    padding: .4rem 1rem;
    border: none;
    width:50%;
}
#search-weather::placeholder{
    color:#000;
}
#search-weather:focus{
    outline:none;
    border-bottom: 1px solid #000;
}
#get-weather-btn:active, #get-weather-btn:focus{
    outline:none;
}
#get-weather-btn{
    font-size: 1rem;
    padding: .5rem 1rem;
    background:transparent;
    border-radius:20px;
    border:1px solid #000;
    transition: all ease-in-out .5s;
}
#get-weather-btn:hover{
    background:#000;
    color:#fff;
}
#weather-icon{
    display:block;
    transition: all .5s;
}
.temperature-value{
    font-size: 5rem;
    font-weight: 800;
    font-family: sans-serif;
}
.temperature-mode{
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    top: -2rem;
}
.date-day{
    font-size: 1.6rem;
    font-weight: 600;
}
.card-group{
    display: flex;
    justify-content: space-between;
    margin: 4rem auto;
}
.weather-desc{
    text-transform: capitalize;
}
.card{
    width: 32%;
    margin-right: 1%;
    background: #fff;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #e5e5e5;
}
.loader{
    background: #d6d7da;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.loader-img{
    text-align: center;
}
.loader-img img{
    max-width: 400px;
}
.font-mid-black{
    font-size: 3rem;
    font-weight: 600;
}
.font-grey{
    font-size: 1.3rem;
    color: #8f8e8e;
}
.fh-btn, .cs-btn{
    border: none;
    background: #000;
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.fh-btn:active, .cs-btn:active,.fh-btn:focus, .cs-btn:focus{
    outline:none;
}
.error-message{
    background: rgba(255, 0, 0, 0.1);
    padding: .3rem 1rem;
    border-radius: 20px;
    transition: all .5s;
}
.hidden{
    display:none;
}
@media(max-width:1000px){
    .container, .card-group{
        flex-direction: column;
        max-width:100%;
   }
    .sidebar{
        max-width:100%;
   }
    .main{
        background:transparent;
   }
    .card{
        width: 90%;
        margin-bottom: 1rem;
        margin-right: 0;
        background: #f9f9f9 
   }
}
